header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 12, 12);
  color: white;
  
  img {
    max-width: 150px;
  }
  div {
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
  }
}