@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}