body{
  background: url(trybeWallet.png) no-repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

.container {
  align-items: center;
  display: flex;
  /* flex-flow: column wrap; */
}

.name-login {
  align-items: center;
  display: flex;
  height: 150px;
  margin: 60px;
  width: 100%;
}

.login-box {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  margin: 175px;
  margin-left: 45%;
  transform: translate(-50%,-50%);
  color: white;
}

.login-box h1 {
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  margin-top: 15px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}


 
 
 
 
 
 
 
 
 



 
 




 
 
 
 
 
 
 
 
 













