@font-face {
  font-family: 'AnotherDanger';
  src: local('AnotherDanger'), url(../styles/fonts/AnotherDangerDemo.otf);
}

body{
  background: url(./img/login.gif) no-repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.name-login {
  align-items: center;
  display: flex;
  height: 150px;
  margin: 60px;
  width: 100%;
}

.login-box {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  margin: 175px;
  margin-left: 45%;
  transform: translate(-50%,-50%);
  color: white;
}

.login-box h1 {
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  margin-top: 15px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  outline: none;
}

.btn:hover:enabled {
  background-color: #4caf50;
  color: black;
}

.trivia-neon {
  animation: animate 5s linear infinite;
  color: #0e3742;
  font-family: 'AnotherDanger', monospace;
  font-size: 6em;
  letter-spacing: 15px;
  line-height: 0.70em;
  margin-left: 5%;
  outline: nome;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@keyframes animate
{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
  {
    color:  #4caf50;
    box-shadow: nome;
  }
  18.1%, 26.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: #ffffff;
    box-shadow: 0 0 10px  #58b15b,
    0 0 20px  #58b15b,
    0 0 40px  #58b15b,
    0 0 80px #58b15b,
    0 0 160px #58b15b,
  }
}

