.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page form label {
  display: flex;
  flex-direction: column;
}