.header-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: space-between;
  padding: 8px;
}

.form {
  align-items: baseline;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
}