@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  height: 10px;
  margin: 30px 10px;
  width: 1850px;
}

.image_header {
  height: 30px;
}

.span_header_right {
  margin-right: 10px;
}

.span_header_left {
  margin-left: 10px;
}
