.add-expense {
  align-items: center;
  background: linear-gradient(45deg, rgb(28, 44, 46), rgb(24, 24, 24));
  color: white;
  display: flex;
  min-height: 50px;
  padding: 5px 20px;
  justify-content: space-around;
  flex-wrap: nowrap;
  border-top: 3px solid rgb(204, 141, 5);

}

.add-expense label {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: right;

}

button {
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 172, 149);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-size: 11pt;
  font-weight: 600;
  outline: none;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: rgb(2, 212, 202);
  transition: ease-in 0.3s;
}

button:active {
  background-color: rgb(32, 70, 68);
}

.inputs {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.060);
  border: 1px solid rgb(68, 92, 92);
  border-radius: 5px;
  color: rgb(178, 240, 235);
  padding: 8px;
  margin-left: 5px;
  font-size: 10pt;
  outline: none;
  font-size: 11pt;
  margin-top: 5px;
}

.inputs:focus {
  background-color: rgba(255, 255, 255, 0.100);
}

option {
  background-color: rgb(9, 28, 31);
}

.size1 {
  width: 70px;
}

.size2 {
  width: 120px;
}

.size3 {
  width: 160px;
}

.size4 {
  width: 200px;
}

.bt-icon-plus {
  color:rgb(255, 255, 255);
  margin-right: 10px;
}