.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 3px 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.info-container {
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 100vmax;
  font-size: 18px;
  padding: 5px 15px;
}

.info-container p {
  margin-right: 20px;
  padding-top: 10px;
}

.logo {
  width: 100px;
  margin-left: 20px;
}