.expense-form {
  background-color: var(--main-bkgrdcolor);
  border: none;
  border-radius: 0 8px 0 0;
  padding: 0 10px 0 0;
}

.expense-form legend {
  background-color: white;
  border-radius: 8px;
  color: rgb(0, 103, 46);
  font-size: 1.2em;
  font-style: italic;
  font-weight: 500;
  padding: 0 12px 4px 12px;
  margin: 0 0 0 17px;
}

.expense-form label {
  color: rgb(100, 203, 146);
  display: inline-block;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 20px;
}

.expense-form input, select {
  background-color: rgb(230, 247, 220);
  border: none;
  border-radius: 8px;
  font-size: 1em;
  height: 25px;
  margin: 0 10px;
  padding: 6px 4px 6px 8px;
  width: 100px;
}

.expense-form input[ type = text ] {
  font-size: 0.8em;
  width: 320px;
}

.expense-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(230, 247, 220);
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 101%;
  background-position-y: 5px;
  font-size: 0.9em;
  font-style: italic;
  height: 38px;
  margin: 0 5px;
  padding: 0 20px 0 5px;
  width: auto;
}

.expense-form button {
  background-color: rgb(7, 161, 107);
  border: 0;
  border-radius: 8px;
  color: rgb(241, 250, 235);
  font-size: 1em;
  margin: 12px 20px 0;
  padding: 8px 16px;
}

.expense-form button:hover {
  background-color: rgb(7, 184, 122);
}

.expense-form button:active {
  background-color: rgb(10, 131, 89);
}
