.expense-table {
  margin-top: 20px;
}

.expense-form {
  display: flex;
  justify-content: space-between;
  margin: auto 15px;
}

table, th, tr, td {
  border: 1px black solid;
}

input[type=number] {
  width: 70px;
}

input[type=text] {
  width: 200px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%;
}

th, tr, td {
  padding: 3px 15px;
}

th {
  font-size: large;
}

td {
  font-size: small;
}
