.expenses-table-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.expenses-table {
  background-color: var(--main-bkgrdcolor);
  border: 0;
  border-collapse: collapse;
  border-radius: 8px;
  border-spacing: 0;
  margin: 20px 0 0;
  max-width: 1250px;
  overflow: hidden;
  width: 78%;
  text-align: center;
}

.expenses-table thead th {
  background-color: rgb(18, 155, 107);
  padding: 10px;
}

.expenses-table tbody td {
  margin: 0;
  padding: 10px;
}

.expenses-table tbody tr:nth-child(even) {
  background-color: rgb(234, 236, 233);
}

.expenses-table .edit-btns {
  width: 140px;
}

.edit-expense-wrapper {
  background-color: rgba(2, 7, 1, .8);
  height: 91.5%;
  margin: 0;
  padding: 65px 0 0 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
