
.backgroundccxp {
  background: hsla(234, 7%, 28%, 1);

  background: linear-gradient(180deg, hsla(234, 7%, 28%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  
  background: -moz-linear-gradient(180deg, hsla(234, 7%, 28%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  
  background: -webkit-linear-gradient(180deg, hsla(234, 7%, 28%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#43444D", endColorstr="#000000", GradientType=1 );
}
