.App {
  align-items: center;
  background-color: #282a36ff;
  box-sizing: border-box;
  color: #f8f8f2ff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*
SCSS HEX
$raisin-black: #282a36ff;
$independence: #44475aff;
$baby-powder: #f8f8f2ff;
$blue-yonder: #6272a4ff;
$sky-blue-crayola: #8be9fdff;
$spring-green: #50fa7bff;
$mellow-apricot: #ffb86cff;
$key-lime: #f1fa8cff;
$tart-orange: #ff5555ff;
$lavender-floral: #bd93f9ff;
$pink: #ff79c6;
*/