.btn-login a{
  color: black;
  text-decoration: none;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.form-login input{
  margin: 1px;
}

.form-login input+button{
  margin: 10px;
}

.form-login a {
  width: 15.3%;
}

.form-login a button{
  width: 100%;
}

header {
  margin: 10px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

nav p {
  margin-right: 30px;
}

.form-expense {
  padding: 40px;
  background-color: grey;
}

form label {
  margin-left: 20px;
}