* {
  margin: 0;
  padding: 0;
}
.main {
  background-color:grey;
  width: 300px;
  height: 200px;
  margin: 15% auto;
  border-radius: 15px;
}
.formLogin {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.logo {
  width:150px;
  margin-top: 5%;
  margin-left: 75px;
}
.email {
  width: 50%;
  margin-left: 75px
}
.password {
  width: 50%;
  margin-left: 75px
}
.btn_login {
  width: 50%;
  color: aliceblue;
  background-color: rgb(161, 155, 196);
  margin-left: 77px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bolder;
}
.logo-wallet {
  width: 8%;
}
.wallet-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.wallet-paragraph {
  display: flex;
  justify-content: space-between;
}
